<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/"><img src="/images/logomarcas.png" width="70px" height="50px" alt=""></a>
    <div class="btn-group">
        <button type="button" class="btn btn-primary"><a href="/" class="btn btn-primary"> HOME</a></button>
        <button type="button" class="btn btn-primary"><a href="/perguntar" class="btn btn-primary">FAZER PERGUNTAR</a></button>
        
      </div></nav>
